# =========================
# Java
# =========================

*.class

# Maven
target/

# Package files
*.jar
*.war
*.ear
*.nar

# =========================
# IDE
# =========================

.idea/
*.iml

.vscode/

# =========================
# Logs
# =========================

*.log

# =========================
# Environment
# =========================

.env

# =========================
# Spring Boot
# =========================

application-local.yml
application-local.yaml
application-local.properties

# =========================
# OS
# =========================

.DS_Store
Thumbs.db

# =========================
# Misc
# =========================

hs_err_pid*
replay_pid*